/BanqueRest/nbproject/private/

/BanqueRest/build/
/BanqueRest/dist/

/AcquisitionsWeb/AcquisitionsWeb-ejb/dist/
/AcquisitionsWeb/AcquisitionsWeb-ejb/build/
/AcquisitionsWeb/AcquisitionsWeb-war/build/

/AcquisitionsWeb/AcquisitionsWeb-ejb/nbproject/
/AcquisitionsWeb/nbproject/
/AcquisitionWeb/nbproject/private/
/AcquisitionsWeb/AcquisitionsWeb-war/nbproject/private/
/AcquisitionsWeb/AcquisitionsWeb-war/dist/
/AcquisitionsWeb/build/
/AcquisitionsWeb/dist/
/AcquisitionsWeb-ejb/nbproject/private/
/AcquisitionsWeb-ejb/build/
/AcquisitionsWeb-ejb/dist/
/AcquisitionWeb-ejb/nbproject/private/
/EnterpriseApplication1/nbproject/private/
/AcquisitionsWeb-war/build/
/AcquisitionsWeb-war/dist/